@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}


table{
  width:700px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

table,th,td{
  border:1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

thead{
  /* background-color: #333;
  color:antiquewhite; */
}

tbody{
  /* background-color: #777;
  color:bisque; */
}


tr:hover{
  /* background-color: bisque;
  color:black; */
}
