@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red-color: #a92120;
  --pink-color: #c90076;
  --grey-color: #6e6e6e;
  --yellow-color: #daa520;
}

body {
  font-family: "Poppins", sans-serif;
}


header{
  background-color: #333;
  color:aliceblue;
  text-align: center;
  font-size: 2rem;
  padding: 30px;
}
main{
  min-height: 70vh;
}

footer{
  background-color: #333;
  color:aliceblue;
  text-align: center;
  font-size: 2rem;
  padding: 30px;
}

.profile{
  width: 300px;
  margin: auto;
  margin-top: 100px;
  /* border:1px solid; */
  text-align: center;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
}

img{
  width: 60%;
  border-radius: 50%;
}

/* multuiple backgrounds */
/* 
body{
  background-image: url('../assets/1.webp'),url('../assets/2.jpeg');
  background-size: 50%,50%;
  background-repeat: no-repeat,no-repeat;
  background-position: left,right;
} */